@media print {
    button { 
       opacity: 0%; 
    }
}


@media screen,
print {
    @page {
        size: 20cm 28.7cm;
        margin: 0mm 0mm 0mm 0mm;
    }
    
    :root {
        --headerShade: #bbbbbb;
        --baseFontSize: 80px;
    }

    * {
        font-family: 'Ubuntu';
        margin: 0%;
        padding: 0%;
        float: none;
    }
    
    html,
    body {
        height: 100%;
    }

    header {
        padding-bottom: 0%;
        padding-top: 1%;
    }

    section {
        display: flex;
    }

    ul {
        list-style-type: none;
    }

    .Title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 1%;
    }

    .Title>h1 {
        font-size: calc(var(--baseFontSize) * 0.65);
    }

    .CommsLinks {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: var(--headerShade);
        padding-top: 1%;
        padding-bottom: 1%;
        border-style: solid;
        border-color: transparent;
        border-top-color: #000000;
        border-bottom-color: #000000;
        border-width: calc(var(--baseFontSize) / 3333);
        font-weight: bold;
    }

    .CommsLinks>i.seperator {
        flex-shrink: 20;
        margin-left: 1%;
        margin-right: 1%;
    }

    .CommsLinks>i.address {
        flex-shrink: 20;
        font-size: calc(var(--baseFontSize) / 5.5);
    }

    span.spacer {
        width: 25%;
    }

    .MainInfo {
        display: flex;
        flex-direction: column;
        margin-top: 1%;
    }

    .BottomSection {
        margin-left: 1%;
        display: flex;
        flex-direction: row;
        height: 20%;
    }

    .Column {
        flex: 49.5%;
        align-items: center;
        justify-content: center;
    }
   
    .FirstColumn {
        margin-right: 0.2%;
    }

    .SecondColumn {
        margin-left: 0.2%;
    }

    .BigHeader {
        font-size: calc(var(--baseFontSize) / 3.5);
        text-align: start;
        padding-left: 1%;
        margin-bottom: 2%;
    }

    .SmallHeader {
        font-size: calc(var(--baseFontSize) / 4);
        text-align: center;
        margin-bottom: 1%;
        padding-bottom: 2%;
        padding-top: 2%;
        background-color: var(--headerShade);
    }

    .BigInfo,
    .SmallInfo {
        width: 90%;
        margin-left: 1.5%;
        margin-right: 8.5%;
    }

    .SmallInfo {
        margin-bottom: 2%;
    }

    .Employer {
        font-size: calc(var(--baseFontSize) / 4.75);
        text-align: left;
    }

    .SmallEmployer {
        font-size: calc(var(--baseFontSize) / 4.75);
        text-align: start;
    }

    .Timeline {
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 100%;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
    }


    .RoleTitle {
        font-size: calc(var(--baseFontSize) / 6.25);
        text-align: left;
        font-style: italic;
    }

    .RoleTime {
        text-align: right;
        font-size: calc(var(--baseFontSize) / 6.25);
        margin-left: 5%;
        font-style: italic;
    }

    .JobBlurb {
        font-size: calc(var(--baseFontSize) / 7.1);
        font-weight: bold;
        margin-bottom: 1%;
    }

    .DegreeBlurb {
        display: flex;
    }

    .CourseSynopsis {
        margin-top: 2%;
        margin-bottom: 0%;
        font-weight: bold;
        font-size: calc(var(--baseFontSize)/7.15);
        text-decoration: underline;
        color: var(--headerShade);
    }

    .CourseName {
        font-weight: bold;
        font-size: calc(var(--baseFontSize) / 7.25);
        font-style: italic;
        margin-bottom: 1%;
        margin-top: 2%;
    }

    .TechThingy>p {
        font-size: calc(var(--baseFontSize) / 8);
        font-weight: bold;
        font-style: italic;
        text-decoration: underline;
        display: flex;
    }

    .TechUsed {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        margin-bottom: 1%;
        margin-top: 1.5%;
    }

    .TechnologyBubble {
        font-size: calc(var(--baseFontSize) / 8);
        font-weight: bold;
        display: inline;
        white-space: nowrap;
        text-align: justify;
        border-style: solid;
        border-width: thin;
        border-color: #bbbbbb;
        width: min-content;
        padding: 0.5%;
        margin: 0.5%;
        border-radius: 3% / 20%;
        background-color: #eeeeee;
    }
}
